</main>
</body>

<footer>
	<div class="footer-content">
		<div class="footer-left">
			<a href="/contact">Contact</a>
		</div>
		<div class="footer-right">
			<p>
				&copy; <%= new Date().getFullYear() %> Timey, Wimey, & Companions. All
				rights reserved.
			</p>
		</div>
		
	</div>
</footer>
</html>