<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- required meta tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<!-- custom css -->
		<link rel="stylesheet" href="./styles/docWho.css" />

		<title>DoctorWhoDabase</title>
	</head>

	<nav>
		<div class="header-logo-image">
			<a href="/">
				<!-- <img src="" alt="Doctor Whodabase Logo"> -->
				<p class="header-logo">
					<span class="logo-text">Doctor Who</span>
					<span class="logo-text-sm">dabase</span>
				</p>
			</a>
		</div>
		<div class="navbar">
				<div class="menu">
						<a href="/">Home</a>
						<a href="/#about" class="disabled">About</a>
						<a id="open-modal-btn" class="disabled">Contact</a>
				</div>
				<div class="toggle-button">
						<span></span>
						<span></span>
						<span></span>
				</div>
		</div>
	</nav>
	
	
	<body>
		<main>
