<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/docWho.css">
  <title>DoctorWhoDabase</title>
</head>

<header>
	<nav>
		<div class="logo">
			<a href="/">
				<img src="path/to/home-button-image.png" alt="Home Button" />
			</a>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Explore</button>
			<div class="dropdown-content">
				<a href="#">Doctors</a>
				<a href="#">Companions</a>
				<a href="#">TARDISs</a>
				<a href="#">Villians</a>
				<a href="#">... and then?</a>
			</div>
		</div>
	</nav>
</header>

<body>
  <main>