@font-face {
  font-family: "docWho";
  src: url("../fonts/DoctorWhat.ttf");
}

.underconstruction-text {
  font-family: docWho;
  position: fixed;
  width: 100%;
  bottom: 0%;
  color: #370409;
  font-size: 2rem;
  letter-spacing: 0.1em;
  background-color: rgb(87, 151, 176);
  opacity: 0.5;
}

body {
  position: relative;
  background-color: #010309;
  height: 100vh;
  font-family: "Gill Sans", sans-serif;
  color: #fff;
  text-align: center;
  /* cursor: none; */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/images/tardisInCorner.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: fadeBackground 12.5s infinite;
  z-index: -1;
}

/* blinking TARDIS */
@keyframes fadeBackground {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: .1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.fade {
  transition: opacity 1s;
  opacity: 0;
}

.fade.show {
  opacity: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 5%;
}

.banner-container {
  width: 30%;
  box-sizing: border-box;
  margin: 0 2%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
  padding: 0 2rem 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, .5);
  box-sizing: border-box;
}

.banner-text {
  min-height: 20%;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
}

.actor-img {
  max-width: 95%;
  max-height: 60%;
  box-sizing: border-box;
}

.actor-img.initial-width {
  width: 95%;
} 

.details-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  margin: 2rem;
}

.detail-column {
  display: flex;
  flex-direction: column;
  float: left;
  align-content: flex-start;
  text-align: left;
  margin: 2rem;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  list-style-type: none;
  margin: .25rem;
}

.actor {
  position: relative;
  display: inline-block;
  color: white;
}

a { 
  text-decoration: none 
}

.disabled {
  pointer-events: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */
nav {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: none;
  color: #ffffff;
  width: 100%;
  max-height: 10%;
  align-content: center;
  z-index: 1;
}

.navbar {
  margin: 1rem 2rem 0 auto;
  text-align: right;
  justify-content: flex-end;
  align-content: center;
  width: 40%;
  background-color: none;
}

.header-logo {
  text-decoration: none;
  color: #fff;
}

.logo-text {
  font-family: docWho;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;

}

.logo-text-sm {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.header-logo-image {
  position: fixed;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  height: 60px;
}

.header-logo-image img {
  height: 100%;
  justify-content: center;
  align-content: center;
}

.header-logo-image a {
  background-color: none;
}

.menu {
  display: flex;
}

.menu a {
  text-decoration: none;
  color: #fff;
  width: 95%;
}

.toggle-button {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.toggle-button span {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 3px 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu {
      display: none;
      flex-direction: column;
      background-color: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 1;
  }

  .menu.active {
      display: flex;
  }
}

/* footer */

footer {
  background: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  font-size: .75rem;
  font-family: "Gill Sans", sans-serif;
  color: #fff;
}

footer a {
  color: #203593;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #203593;
}

.footer-right {
  display: flex;
  align-items: right;
  padding-right: 1rem;
}

.footer-left {
  display: flex;
  align-items: left;
  padding-left: 1rem;
}

